<!DOCTYPE html>
<html>
<head>
    <title>IMF Economic Statistics Page</title>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='homepage.css') }}" />
</head>

<body>
    <div id="link_to_home">
        <p align="left"><a href="http://thacker.mathcs.carleton.edu:5119/">Go back to homepage</a></p>
    </div>
    <div id="assignment_header">
        <h1>IMF World Economic Statistics</h1>
    </div>
    <div id="assignment_content">
        <h3>GDP</h3>

        <p>Expressed in billions of national currency units; the base year is country-specific. Expenditure-based GDP is total final expenditures at purchasers' prices (including the Free on Board, or F.O.B., value of exports of goods and services), less the F.O.B. value of imports of goods and services.</p>

        <h3>GDP per Capita</h3>

        <p>GDP is expressed in constant national currency per person. Data are derived by dividing constant price GDP by total population.</p>

        <h3>Unemployment</h3>

        <p>Unemployment rate can be defined by either the national definition, the ILO harmonized definition, or the OECD harmonized definition. The OECD harmonized unemployment rate gives the number of unemployed persons as a percentage of the labor force (the total number of people employed plus unemployed). [OECD Main Economic Indicators, OECD, monthly] As defined by the International Labour Organization, unemployed workers are those who are currently not working but are willing and able to work for pay, currently available to work, and have actively searched for work. For more information, visit the International Labour Organization's <a href="http://www.ilo.org/public/english/bureau/stat/res/index.htm">statistics homepage</a>.</p>

        <h3>Population</h3>

        <p>For census purposes, the total population of the country consists of all persons falling within the scope of the census. In the broadest sense, the total may comprise either all usual residents of the country or all persons present in the country at the time of the census. For more information, visit the <a href="http://unstats.un.org/unsd/demographic/sources/census/census3.htm">Principles and Recommendations for Population and Housing Censuses</a>.</p>

        <h3>Debt</h3>

        <p>Gross debt consists of all liabilities that require payment or payments of interest and/or principal by the debtor to the creditor at a date or dates in the future. This includes debt liabilities in the form of SDRs, currency and deposits, debt securities, loans, insurance, pensions and standardized guarantee schemes, and other accounts payable. Thus, all liabilities are considered debt, except for equity and investment fund shares and financial derivatives and employee stock options. Debt can be valued at current market, nominal, or face values.</p>

        <h3>Revenue</h3>

        <p>Revenue consists of taxes, social contributions, grants receivable, and other revenue. Revenue increases government's net worth, which is the difference between its assets and liabilities. Note: Transactions that merely change the composition of the balance sheet do not change the net worth position, for example, proceeds from sales of nonfinancial and financial assets or incurrence of liabilities.</p>

        <h3>Inflation</h3>

        <p>Expressed in averages for the year, not end-of-period data. A consumer price index (CPI) measures changes in the prices of goods and services that households consume. Such changes affect the real purchasing power of consumers' incomes and their welfare. As the prices of different goods and services do not all change at the same rate, a price index can only reflect their average movement. A price index is typically assigned a value of unity, or 100, in some reference period and the values of the index for other periods of time are intended to indicate the average proportionate, or percentage, change in prices from this price reference period. Price indices can also be used to measure differences in price levels between different cities, regions or countries at the same point in time. For more information, visit the IMF's <a href="http://www.imf.org/external/pubs/cat/longres.aspx?sk=17165">CPI Manual 2004</a>.</p>


    </div>
  </body>
</html>